<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<style>
     body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    input {
      margin: 5px 0;
    }
    table {
      width: 80%;
      border-collapse: collapse;
    }
    th , td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }
</style>
</head>
<body>
    <div ng-app="myApp" ng-controller="mycontroller">
        <h1>Student Management</h1>
           <h2>Add And Delete Student</h2>
           
           
         Id: <input type="number" name="id" ng-model="id" id="" placeholder="Enter id">
          <br><br>
         Name: <input type="text" name="name" ng-model="name" placeholder="Enter Name">
         <br><br>
         Age: <input type="number" name="age" ng-model="age" placeholder="Enter age">
         <br><br>
         Course:<input type="text" name="course" ng-model="course" placeholder="Enter Course">
         <br><br>
         <Button ng-click="addData()">Add Student</Button>
           
           
        <h2><b>Student List</b></h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="student in students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.course}}</td>
                <td>
                    <button ng-click="deleteData($index)">delete</button>
                </td>
            </tr>
        </table>

    </div>
    <script>
        var app=angular.module("myApp",[]);
        app.controller("mycontroller",function($scope){

           $scope.students=[
            {
                id:1,
                name:"harshal",
                age:22,
                course:"BCA"

            }
            
           ];
           $scope.addData=function()
           {
            $scope.students.push({
                id:$scope.id,
                name:$scope.name,
                age:$scope.age,
                course:$scope.course
            })
            $scope.id='';
            $scope.name='';
            $scope.age='';
            $scope.course='';
           }
           $scope.deleteData=function(index){
            $scope.students.splice(index,1);
           }
        });
    </script>
</body>
</html>
